{
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 125,
        "tabWidth": 4
      }
    }
  ]
}